<h1>Editing Student #<%= @student.id %></h1>

<form action="/students/<%= @student.id %>/update">
  <div>
    <label for="username">username</label><br />
    <input id="username" name="username" value="<%= @student.username  %>" type="text" />
  </div>
  <div>
    <label for="email">email</label><br />
    <input id="email" name="email" value="<%= @student.email  %>" type="text" />
  </div>
  <div>
    <label for="img">img</label><br />
    <input id="img" name="img" value="<%= @student.img  %>" type="text" />
  </div>
  <div>
    <label for="bio">bio</label><br />
    <input id="bio" name="bio" value="<%= @student.bio  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


