<h1>Students</h1>

<p><a href="/new_student/feuiary72349hfdegteruihdfsgfsdhsufywyu9awya89tywoyguiyfsgfyasduiyfusdhfd5">Enroll in Class</a></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
      <th>Profile Picture</th>

    </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
          <td><em><%= student.username %></em></td>
      <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
          <td><img src= "<%= student.img %>" height=100px width=100px></td>
      <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
          <td><a href="/students/<%= student.id %>/fygfer789ygrdfyugighdfjyt895uwygfdghudfiytoshwygerwygerisygsepgherwhtgesw">Show Student Profile</a>
        </td>
      <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>   
      <% if session['username'] == student.username%>
      <td><a href="/students/<%= student.id %>/edit/efhugfrysdhgkhfuhfrhgfu9yhgeriogh89dfleduf8wajefyerrtuter89wefjfoyerf8owe">Edit Student Profile</a></td>
            <%end%>
<td></td>

      <% if session['username'] == "MASTERKEY"%>
      <td><a href="/students/<%= student.id %>/edit/efhugfrysdhgkhfuhfrhgfu9yhgeriogh89dfleduf8wajefyerrtuter89wefjfoyerf8owe">Edit Student Profile</a></td>
        <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
      <td><a href="/students/<%= student.id %>/destroy/cbasdiflshkjxcnxcnxzmcbneuighsahtiuerhgjdfsygoe4yt895679346534897543sdf11">Delete Student Profile</a></td>
    </tr>
  <% end %>
    <%end%>
  </tbody>
</table>

