
<% if session['username'] == @student.username%>
<h1>Member <%= @student.username %></h1>
<h2>Your ID is <%= @student.id %></h2>
<%end%>
<% if session['username'] == "MASTERKEY"%>
<h3> This Member's ID is <%=  @student.id  %></h3>
<%end%>
<div>
  <strong>Name</strong>:<br />
  <p><%= @student.username %></p>
</div>
<div>
  <strong>e-mail</strong>:<br />
  <p><%= @student.email %></p>
</div>
<div>
  <strong>Profile Picture</strong>:<br />
  <p><img src="<%= @student.img %>" height=300px width=300px></p>
</div>
<div>
  <strong>Biography</strong>:<br />
  <p><%= @student.bio %></p>
</div>
<br>
<br>
<br>
<% if session['username'] == "MASTERKEY"%>
<h5> Status by <em><%=@student.username%></em>:  </h5>
<br>
<ul>
  <% @reports.each do |report| %>
  <li>Status, accomplished:<u> <%= report.comment %> </u><b>on <%= report.date %></b></li>
  <br>
  <% end %>
</ul>
<%end%>

<br>
<br>
<br>
<% if session['username'] == @student.username%>
<h5> Status by <em><%=@student.username%></em>:  </h5>
<br>
<ul>
  <% @reports.each do |report| %>
  <li>Status, accomplished:<u> <%= report.comment %> </u><b>on <%= report.date %></b></li>
  <br>
  <% end %>
</ul>
<%end%>


<a href="/students/hwerohgwerughsuifbhtxcghushu9fheruyterogfsdhfhsdhteygeruthytweryryerge33g">Return to Members index</a> <% if session['username'] == @student.username%>|
<a href="/students/<%= @student.id %>/edit/efhugfrysdhgkhfuhfrhgfu9yhgeriogh89dfleduf8wajefyerrtuter89wefjfoyerf8owe">Edit Profile</a> <%end%><% if session['username'] == "MASTERKEY"%>|
<a href="/students/<%= @student.id %>/destroy/cbasdiflshkjxcnxcnxzmcbneuighsahtiuerhgjdfsygoe4yt895679346534897543sdf11">Delete Profile</a>
<%end%>
