<h1>Student #<%= @student.id %></h1>
<h2>Your ID is <%= @student.id %> ... use this to tag your assignments! </h2>

<div>
  <strong>Name</strong>:<br />
  <p><%= @student.username %></p>
</div>
<div>
  <strong>e-mail</strong>:<br />
  <p><%= @student.email %></p>
</div>
<div>
  <strong>Profile Picture</strong>:<br />
  <p><img src="<%= @student.img %>" height=300px width=300px></p>
</div>
<div>
  <strong>Biography</strong>:<br />
  <p><%= @student.bio %></p>
</div>
<br>
<br>
<br>

<h5> Reports by <em><%=@student.username%></em>:  </h5>
<br>
<ul>
  <% @reports.each do |report| %>
  <li> <%= report.comment %> <b>on <%= report.date %></b></li>
  <br>
  <% end %>
</ul>

<a href="/students">Return to Students index</a> |
<a href="/students/<%= @student.id %>/edit">Edit Profile</a> |
<a href="/students/<%= @student.id %>/destroy">Delete Profile</a>
