<h1>Teachers</h1>

<p><a href="/new_teacher">Add a New Teacher</a></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Img</th>
      <th>Bio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @teachers.each do |teacher| %>
    <tr>
          <td><%= teacher.name %></td>
          <td><%= teacher.email %></td>
          <td><%= teacher.img %></td>
          <td><%= teacher.bio %></td>
          <td><a href="/teachers/<%= teacher.id %>">Show</a>
        </td>
      <td><a href="/teachers/<%= teacher.id %>/edit">Edit</a></td>
      <td><a href="/teachers/<%= teacher.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

