<h1>Mr. Essenberg</h1>


<div>
  <strong>e-mail</strong>:<br />
  <p><%= @teacher.email %></p>
</div>
<div>
  <strong>Profile Picture</strong>:<br />
  <p><img src="<%= @teacher.img %>" height=300px width=300px></p>
</div>
<div>
  <strong>Biography</strong>:<br />
  <p><%= @teacher.bio %></p>
</div>
<a href="/teachers/kefhasdfhsdfathweruiyugfwe9ry89eyg89werfhsdhuasdfhfouiyeryheriygeruwerytu">Return to Teacher index</a>      <% if session['username'] == "MASTERKEY"%> |
<a href="/teachers/<%= @teacher.id %>/edit/hjdfsnhsdjkyr3467rfhf78ywe9qtjfosr083sdfjhfadusdfjgweugfyedsresy54355r222">Edit Teacher Profile</a> |
<a href="/teachers/<%= @teacher.id %>/destroy/fewuiyfrweyhcvasuyf734wuft24ruyvc4cfe870347r09euy894yervfufoertugfw308tue">Delete Profile</a>
<%end%>
