<h1>Editing Report #<%= @report.id %></h1>

<form action="/reports/<%= @report.id %>/update">
  <div>
    <label for="username">Student ID</label><br />
    <input id="username" name="username" value="<%= @report.username  %>" type="text" />
  </div>
  <div>
    <label for="comment">Report</label><br />
    <input id="comment" name="comment" value="<%= @report.comment  %>" type="text" />
  </div>
  <div>
    <label for="date">Today's date</label><br />
    <input id="date" name="date" value="<%= @report.date  %>" type="text" />
  </div>
  <div>
    <br>
    <input type="submit">
  </div>
</form>


