<h1>Reports</h1>

<p><a href="/new_report">Add a New Report</a></p>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Comment</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @reports.each do |report| %>
    <tr>
      <td><%= report.student_id %></td>
          <td><%= report.comment %></td>
          <td><%= report.date %></td>
          <td><a href="/reports/<%= report.id %>">Show</a>
        </td>
      <td><a href="/reports/<%= report.id %>/edit">Edit</a></td>
      <td><a href="/reports/<%= report.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

