<h1>Progress</h1>
<p>   <a href="/new_report/fhsdfhtrheryfsdghkdfjhguidfhsjkfghuisdhfkhasfhsdafhjxczhfuieshfsdyfregf44"><button type="button" class="glyphicon glyphicon-comment">Add a New Report</button></a>
</p>
<br>
<br>
<h5> **Reports hidden** </h5>
      <% if session['username'] == "MASTERKEY"%>
<table>
  <thead>
    <tr>
      <th>Student</th>
            <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
      <th>Report</th>
            <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  

  <tbody>
  <% @reports.each do |report| %>
    <tr>
      <td><%= report.username %></td>
            <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
          <td><%= report.comment %></td>
            <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
          <td><%= report.date %></td>
            <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
          <td><a href="/reports/<%= report.id %>/rehcf349ytgfoisdjf34807tupqu0U0Y3RYTTYONHVBYOUE45554ffRYTOTJ34dfsg1111155">Show Report</a>
        </td>
            <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
      <td><a href="/reports/<%= report.id %>/edit/ewuyfehfyfhJH9YUOEHVSDUOFHh489yter9ty34u07truosdfihge9wytgheri111efdasrf2">Edit Report</a></td>
            <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>      
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td>  
         <td> <p>&nbsp;&nbsp;&nbsp;&nbsp;        </p>  </td> 
      <td><a href="/reports/<%= report.id %>/destroy/eruighehgoifhtgejw0w059uter8ytgfudgu89eryutgfiljgofyutpoiusreutit1345632d">Delete Report</a></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%end%>
