<h1>Report #<%= @report.id %></h1>

<div>
  <strong>Student</strong>:<br />
  <p><%= @student.username %></p>
</div>
<div>
  <strong>Report</strong>:<br />
  <p><%= @report.comment %></p>
</div>
<div>
  <strong>Date</strong>:<br />
  <p><%= @report.date %></p>
</div>
<a href="/reports">Return to Comments index</a> |
<a href="/reports/<%= @report.id %>/edit">Edit Report</a> |
<a href="/reports/<%= @report.id %>/destroy">Delete Report</a>
