<br>
<br>
<% if session['username'] == "MASTERKEY"%>

<h1>Report #<%= @report.id %></h1>

<div>
  <strong>Student</strong>:<br />
  <p><%= @student.username %></p>
</div>
<div>
  <strong>Report</strong>:<br />
  <p><%= @report.comment %></p>
</div>
<div>
  <strong>Date</strong>:<br />
  <p><%= @report.date %></p>
</div>
<%end%>
<a href="/reports/frhhsdfhasdfhusdfjksdfsdfhjsdfhfgisdfaehihasdfgtrquawehy34834834654726222">Return to Comments index</a>     <% if session['username'] == "MASTERKEY"%>|
<a href="/reports/<%= @report.id %>/edit/ewuyfehfyfhJH9YUOEHVSDUOFHh489yter9ty34u07truosdfihge9wytgheri111efdasrf2">Edit Report</a> |
<a href="/reports/<%= @report.id %>/destroy/eruighehgoifhtgejw0w059uter8ytgfudgu89eryutgfiljgofyutpoiusreutit1345632d">Delete Report</a>
<%end%>