<!DOCTYPE html>
<html>
  <style>
     * {
      text-align: center ;
      table-align: center ;

    }
    span {
      text-align: right ;
    }
  </style>
  <div class="btn-group">
  <a href="/home"><button type="button" class="btn btn-primary">Home</button></a>
      <a href="/students/hwerohgwerughsuifbhtxcghushu9fheruyterogfsdhfhsdhteygeruthytweryryerge33g"><button type="button" class="btn btn-danger">Students</button>
      <a href="/reports/frhhsdfhasdfhusdfjksdfsdfhjsdfhfgisdfaehihasdfgtrquawehy34834834654726222" ><button type="button" class="btn btn-success">Today I learned ......</button> </a>
      <a href="/teachers/kefhasdfhsdfathweruiyugfwe9ry89eyg89werfhsdhuasdfhfouiyeryheriygeruwerytu" ><button type="button" class="btn btn-warning">Teacher</button> </a>
      <a href="/about_class/shugygweighegfhgfhygfu9hgrih9urhfreryeruyu9vehfsdhgfgrherohephegohdqwerg9" ><button type="button" class="btn btn-info">About class</button> </a>
    </div>
<span>
  <% if session['username']  %>
  <br>
  <strong> Your Signed in, <%= session['username'] %> </strong>
   <a href="/sessions/destroy"><button type="button" class="glyphicon glyphicon-road">Sign out</button></a>
  <%else%>
  <br>
     <a href="/"><button type="button" class="glyphicon glyphicon-user">Sign in</button></a>
  <%end%>
</span>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  
<head>
  <title>4th Hour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<body background="http://grungetextures.com/sample/784/weathered-wood-background.jpg"> -->
<%= yield %>

</body>
</html>

</div>